<div class="login__container">
    <form id="login_form" class='login__form' action="/signup" method="POST">
    <div class="flex__row">
        <input id="email" name="email" class='lf__input' placeholder='Email' type='text'>
    </div>
    <div class="flex__row">
        <input id="password" name="password" class='lf__input' placeholder='Contraseña' type='password'>
    </div>
        <div class="flex__row">
        <input id="name" name="name" class='lf__input' placeholder='Nombre' type='text'>
    </div>
        <div class="flex__row">
        <input id="address" name="address" class='lf__input' placeholder='Dirección' type='text'>
    </div>
        <div class="flex__row">
        <input id="age" name="age" class='lf__input' placeholder='Edad' type='number'>
    </div>
        <div class="flex__row">
        <input id="phoneNumber" name="phoneNumber" class='lf__input' placeholder='Celular' type='text'>
    </div>
        <div class="flex__row">
        <input id="avatarUrl" name="avatarUrl" class='lf__input' placeholder='Foto de perfil (URL)' type='text'>
    </div>
    <input class='lf__submit' type='submit' value='REGISTRAR'>
    <a href="/login" class='navigation__link'>Ingresar</a>
    </form>
</div>    
